<table>
    <thead>
        <tr>
            <th><%= tableHeader.name %></th>
            <th><%= tableHeader.quantity %></th>
            <th><%= tableHeader.amount %></th>
            <th><%= tableHeader.edit %></th>
            <th><%= tableHeader.delete %></th>
        </tr>
    </thead>
    <% results.forEach(resultRow => { %>
        <tr>
            <td><%= resultRow.name %></td>
            <td><%= resultRow.qty %></td>
            <td><%= resultRow.amount.toFixed(2) %></td>
            <td><a href="#"><%- resultAppend.edit %></a></td>
            <td><a href="#"><%- resultAppend.delete %></a></td>
        </tr>
    <% }) %>
    <% if(results.length == 0) { %>
        <tr>
            <td colspan="5"><%= emptyMessage %></td>
        </tr>
    <% } else if (successMessage != null && successMessage != ''){ %>
        <tr>
            <td colspan="5"><%= successMessage %></td>
        </tr>
    <% } %>
</table>
